
#okh-group-map  {
  display: flex;
  flex-direction: row;
}

#okh-group-map #map {
  height: 400px;
  width: 400px;
  padding-right: 30px;
}
      
#okh-group-map #select-group {
  height: 400px;
  padding: 10px;
  padding-right: 30px;
  background-color: pink;
}