
#okh-group-map  {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#okh-group-map #map {
  position: relative;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}
      
#okh-group-map #select-group {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  background-color: pink;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#okh-group-map #select-group label {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#okh-group-map #select-group input {
  margin-right: 10px;
}

#okh-group-map input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

#okh-group-map input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}
